---
import { themes } from "@types/themes.ts";
---

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <label for="my-drawer" class="btn btn-primary drawer-button"
      >Open drawer
    </label>
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          >
          </path>
        </svg>
      </label>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a>Item 1</a></li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost normal-case text-xl">daisyUI</a>
  </div>
  <div class="flex-none">
    <select data-choose-theme class="select select-accent w-full max-w-xs">
      <option disabled value=""> Pick a theme</option>
      {
        themes.map(({ theme, mode }) => (
          <option value={theme} data-mode={mode}>
            {theme}
          </option>
        ))
      }
    </select>
  </div>

  <div class="navbar-end">
    <a class="btn">Button</a>
  </div>
</div>

<script>
  // Find all buttons with the `alert` class on the page.
  const select = document.querySelector("select");

  select?.addEventListener("change", (event) => {
    const selectElement = event.target as HTMLSelectElement;
    const selectedIndex = selectElement.selectedIndex;
    const selectedOption = selectElement.options[selectedIndex];

    const mode = selectedOption.dataset.mode;

    console.log("mode ===> ", mode);

    if (!mode || mode === localStorage.getItem("theme")) return;

    localStorage.setItem("mode", mode);
    window.dispatchEvent(new Event("storage"));
  });
</script>
