---
import UnauthorizedLayout from '@layouts/UnauthorizedLayout.astro';
import GlassCard from '@components/GlassCard.astro';
---

<UnauthorizedLayout title="Tudoehpureza">
	<GlassCard title={'Forgot your password?'}>
		<h3 class="text-lg text-gray-100" slot="subtitle">
			Enter the <strong>email</strong> address that you used to sign up and we'll
			send you a link to reset your password.
		</h3>

		<form action="#">
			<div class="mb-4 text-lg flex flex-col items-center">
				<input
					class="input input-bordered w-full input-lg max-w-xs rounded-3xl text-center text-gray-50 placeholder-gray-300"
					type="text"
					placeholder="@"
				/>
			</div>

			<div class="mt-8 flex justify-center text-lg">
				<button
					type="submit"
					class="btn rounded-3xl bg-opacity-50 px-10 py-2 btn-wide shadow-xl backdrop-blur-md transition-colors duration-300 text-gray-50"
				>
					Send email
				</button>
			</div>
			<div class="mt-8 flex justify-center text-lg">
				<a
					href="/sign-in"
					class="link link-hover text-sm text-gray-300 font-bold"
				>
					Sign in?
				</a>
			</div>
		</form>
	</GlassCard>
</UnauthorizedLayout>
