---
import UnauthorizedLayout from '@layouts/UnauthorizedLayout.astro';
import GlassCard from '@components/GlassCard.astro';
---

<UnauthorizedLayout title="Tudoehpureza">
	<GlassCard title={"Don't have an account yet?"}>
		<h3 class="text-lg text-gray-300" slot="subtitle">
			Enter <strong>sign up</strong> details
		</h3>

		<form action="#">
			<div class="grid grid-cols-2 gap-2 justify-items-center">
				<div class="mb-4 text-lg flex flex-col items-center">
					<input
						class="input input-bordered w-full input-lg max-w-xs rounded-3xl text-center text-gray-50 placeholder-gray-300"
						type="text"
						placeholder="@"
					/>
				</div>

				<div class="mb-4 text-lg flex flex-col items-center">
					<input
						class="input input-bordered w-full input-lg max-w-xs rounded-3xl text-center text-gray-50 placeholder-gray-300"
						type="text"
						placeholder="Phone"
					/>
				</div>

				<div class="mb-4 text-lg flex flex-col items-center">
					<input
						class="input input-bordered w-full input-lg max-w-xs rounded-3xl text-center text-gray-50 placeholder-gray-300"
						type="text"
						placeholder="Name"
					/>
				</div>

				<div class="mb-4 text-lg flex flex-col items-center">
					<input
						class="input input-bordered w-full input-lg max-w-xs rounded-3xl text-center text-gray-50 placeholder-gray-300"
						type="text"
						placeholder="Surname"
					/>
				</div>

				<div class="mb-4 text-lg flex flex-col items-center">
					<input
						class="input input-bordered w-full input-lg max-w-xs rounded-3xl text-center text-gray-50 placeholder-gray-300"
						type="password"
						placeholder="***"
					/>
				</div>
				<div class="mb-4 text-lg flex flex-col items-center">
					<input
						class="input input-bordered w-full input-lg max-w-xs rounded-3xl text-center text-gray-50 placeholder-gray-300"
						type="password"
						placeholder="***"
					/>
				</div>
			</div>
			<div class="mb-4 text-lg flex flex-row items-center justify-center">
				<div class="form-control">
					<label class="cursor-pointer label text-center">
						<input
							type="checkbox"
							checked="checked"
							class="checkbox checkbox-accent"
						/>
						<span class="label-text ml-2">
							I agree to
							<a href="#" class="link link-accent link-hover text-sm">
								Tudoehpureza
							</a>
							Terms and
							<a href="#" class="link link-accent link-hover text-sm">
								Privacy Policy.
							</a>
						</span>
					</label>
				</div>
			</div>
			<div class="mt-8 flex justify-center text-lg">
				<button
					type="submit"
					class="btn rounded-3xl bg-opacity-50 px-10 py-2 btn-wide shadow-xl backdrop-blur-md transition-colors duration-300 text-gray-50"
				>
					Signup
				</button>
			</div>
			<div class="mt-8 flex justify-center text-lg">
				<a
					href="/front-domains/sign-in"
					class="link link-hover text-sm text-gray-300 font-bold"
				>
					Sign in?
				</a>
			</div>
		</form>
	</GlassCard>
</UnauthorizedLayout>
