---
import UnauthorizedLayout from '@layouts/UnauthorizedLayout.astro';
import GlassCard from '@components/GlassCard.astro';
---

<UnauthorizedLayout title="Tudoehpureza">
	<GlassCard title={'Already have an account?'}>
		<h3 class="text-lg text-gray-100" slot="subtitle">
			Enter <strong>sign in</strong> details
		</h3>

		<form action="#">
			<div class="mb-4 text-lg flex flex-col items-center">
				<input
					class="input input-bordered w-full input-lg max-w-xs rounded-3xl text-center text-gray-50 placeholder-gray-300"
					type="text"
					placeholder="@"
				/>
			</div>

			<div class="mb-4 text-lg flex flex-col items-center">
				<input
					class="input input-bordered w-full input-lg max-w-xs rounded-3xl text-center text-gray-50 placeholder-gray-300"
					type="password"
					placeholder="***"
				/>
			</div>
			<div class="mb-4 text-lg flex flex-row items-center justify-center">
				<a
					href="/recover-password"
					class="link link-hover text-sm text-gray-300"
				>
					Forgot Password?
				</a>
			</div>
			<div class="mt-8 flex justify-center text-lg">
				<button
					type="submit"
					class="btn rounded-3xl bg-opacity-50 px-10 py-2 btn-wide shadow-xl backdrop-blur-md transition-colors duration-300 text-gray-50"
				>
					Sign in
				</button>
			</div>
			<div class="mt-8 flex justify-center text-lg">
				<a
					href="/sign-up"
					class="link link-hover text-sm text-gray-300 font-bold"
				>
					Sign up?
				</a>
			</div>
		</form>
	</GlassCard>
</UnauthorizedLayout>
